%clearfix{
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

%sans-serif {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

%serif {
  font-family: 'Gentium Book Basic', serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}