//Base Font Size
$base-font-size: 16;

//Time out for a function
@function px-to-em($px, $denominator: $base-font-size) {
  @return $px / $denominator * 1em;
}

//Breakpoints
$bp-sm: px-to-em(768);

//Colors
$green: #858502;
$blue-lt: #1155cc;