//Base Font Size
$base-font-size: 16; //change this to whatever size (in px) most of the body copy in your project is

//Time out for a function
@function px-to-em($px, $denominator: $base-font-size) {
  @return $px / $denominator * 1em;
}

//Breakpoints
$bp-sm: px-to-em(768);

//Colors
$red: #c30;