@font-face {
  font-family: 'icons';
  src: url('../fonts/icons/icons.eot?1578695373');
  src: url('../fonts/icons/icons.eot?1578695373#iefix') format('eot'),
    url('../fonts/icons/icons.woff2?1578695373') format('woff2'),
    url('../fonts/icons/icons.woff?1578695373') format('woff'),
    url('../fonts/icons/icons.ttf?1578695373') format('truetype'),
    url('../fonts/icons/icons.svg?1578695373#icons') format('svg');
}

@function icon-char($filename) {
  $char: "";

  @if $filename == envelope {
    $char: "\E001";
  }
  @if $filename == instagram {
    $char: "\E002";
  }
  @if $filename == linkedin {
    $char: "\E003";
  }
  @if $filename == twitter {
    $char: "\E004";
  }

  @return $char;
}

@mixin icon($filename) {
  @extend %icon;

  content: icon-char($filename);
}

.i-envelope::before {
  @include icon(envelope);
}
.i-instagram::before {
  @include icon(instagram);
}
.i-linkedin::before {
  @include icon(linkedin);
}
.i-twitter::before {
  @include icon(twitter);
}
