// Global typography defaults. If these need to be overridden in a specific
// instance, it should be done in a "components" partial
@font-face {
  font-family: 'icons';
  src: url('../../fonts/icomoon.eot');
  src: url('../../fonts/icomoon.eot?#iefix') format('eot'),
  url('../../fonts/icomoon.woff') format('woff'),
  url('../../fonts/icomoon.ttf') format('truetype'),
  url('../../fonts/icomoon.svg#icons') format('svg');
}

html {
  // You should ALWAYS have this line, unchanged.
  // The px-to-rem function depends on it.
  font-size: ($font-size-base/16) * 100%;
  // Normalize line-height in all browsers.
  line-height: 1.15;
  // Prevent adjustments of font size after orientation changes in iOS
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: $font-copy;
  font-weight: $font-weight-normal;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  color: $c-gray-3;
}

h1, h2, h3, h4, h5, h5 {
  margin: 0 0 px-to-rem(20);
  font-family: $font-display;
  line-height: 1.2;
}

h1 {
  margin-bottom: 0;
}

h1,
h2 {
  font-size: px-to-rem(32);

  @include bp(md) {
    font-size: px-to-rem(36);
  }
}

p {
  line-height: 1.8;
}

ul {
  list-style: none;
}

// Undoing the ugly blue glow that defaults when you focus on a link or anything
// with a tabindex. Put focus state back on links below.
:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: $c-blue-lt;

  &:hover,
  &:focus {
    color: $c-blue-dk;
  }
}
