// Global typography defaults. If these need to be overridden in a specific
// instance, it should be done in a "components" partial
html {
  font-size: ($font-size-base/16) * 100%;
}

body {
  font-family: $font-sans;
  font-weight: $font-weight-light;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-serif;
  font-weight: $font-weight-normal;
}

strong,
b {
  font-weight: $font-weight-bold;
}


// Undoing the ugly blue glow that defaults when you focus on a link or anything
// with a tabindex.
*:focus {
  outline: none;
}

h1 {
  font-size: px-to-rem(32);

  @include bp($bp-md) {
    font-size: px-to-rem(74);
  }
}

p {
  margin-bottom: px-to-rem(20);

  @include bp($bp-md) {
    font-size: px-to-rem(22);
  }
}
