.port-piece {
  @extend %clearfix;

  @include breakpoint($bp-sm) {
    img,
    .port-wrapper {
      width: 50%;
    }

    &:nth-child(odd) {
      img,
      .port-wrapper {
        float: right;
      }
    }

    &:nth-child(even) {
      img,
      .port-wrapper {
        float: left;
      }
    }
  }
}

.port-wrapper {
  padding: 1em;
}