body {
  //background-color: $beige;
}

.outer-wrapper {
  padding: 0 1em;
}

.header,
.jk-info,
.full-hours,
.sweet-shop,
.history,
.footer {
  @extend %clearfix;
  max-width: $max-stage-width;
  margin: 0 auto;
  padding: 1em 0;

  .no-mediaqueries & {
    width: $max-stage-width;
  }
}

.outer-wrapper-header,
.outer-wrapper-full-hours,
.outer-wrapper-history {
  //background-color: $white;
}


.outer-wrapper-jk-info {
  background-color: lighten($c-orange, 43);
}

.first {
  margin-bottom: 1em;

  @include breakpoint($bp-small, $no-query) {
    margin-bottom: 0;
    margin-right: 5%;
  }
}

.first,
.second {
  @include breakpoint($bp-small, $no-query) {
    float: left;
    width: 47.5%;
  }
}