html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

.clearfix:before, .header:before,
.jk-info:before,
.full-hours:before,
.sweet-shop:before,
.history:before,
.footer:before, .clearfix:after, .header:after,
.jk-info:after,
.full-hours:after,
.sweet-shop:after,
.history:after,
.footer:after {
  content: "";
  display: table; }
.clearfix:after, .header:after,
.jk-info:after,
.full-hours:after,
.sweet-shop:after,
.history:after,
.footer:after {
  clear: both; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300; }

h2, h3, b,
strong, a.btn {
  font-weight: 800; }

i,
em {
  font-style: italic; }

img {
  max-width: 100% !important;
  height: auto !important; }
  img[style*="float:left"] {
    margin-right: 1em;
    margin-bottom: 1em; }
  img[style*="float:right"] {
    margin-left: 1em;
    margin-bottom: 1em; }

@media \0screen {
  img {
    width: auto; } }
html {
  font-size: 100%; }

body {
  color: #959634; }

h2 {
  font-size: 30px;
  font-size: 1.875rem;
  margin-bottom: .25em;
  color: #ff4302; }

h3 {
  font-size: 30px;
  font-size: 1.875rem;
  color: #ff8019; }

p {
  margin-bottom: 1em;
  line-height: 1.4; }

sup {
  position: relative;
  font-size: .8em;
  top: -.2em; }

sub {
  position: relative;
  font-size: .8em;
  top: .2em; }

*:focus {
  outline: none; }

a {
  color: #ff4302; }
  a:hover, a:focus {
    text-decoration: none; }
  a.btn {
    font-size: 20px;
    font-size: 1.25rem;
    transition: all 0.3s ease;
    display: block;
    position: relative;
    padding: .75em;
    text-align: center;
    border-radius: .5em;
    text-decoration: none;
    background-color: #8fc170;
    color: #ffffff; }
    a.btn:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      left: 0;
      bottom: .5em;
      border-top: solid 2px #ffffff; }
    a.btn:hover, a.btn:focus {
      background-color: #959634; }

.outer-wrapper {
  padding: 0 1em; }

.header,
.jk-info,
.full-hours,
.sweet-shop,
.history,
.footer {
  max-width: 72.5em;
  margin: 0 auto;
  padding: 1em 0; }
  .no-mediaqueries .header, .no-mediaqueries
  .jk-info, .no-mediaqueries
  .full-hours, .no-mediaqueries
  .sweet-shop, .no-mediaqueries
  .history, .no-mediaqueries
  .footer {
    width: 72.5em; }

.outer-wrapper-jk-info {
  background-color: #fff9f4; }

.first {
  margin-bottom: 1em; }
  @media (min-width: 37.5em) {
    .first {
      margin-bottom: 0;
      margin-right: 5%; } }
  .no-mediaqueries .first {
    margin-bottom: 0;
    margin-right: 5%; }

@media (min-width: 37.5em) {
  .first,
  .second {
    float: left;
    width: 47.5%; } }
.no-mediaqueries .first, .no-mediaqueries
.second {
  float: left;
  width: 47.5%; }

/*# sourceMappingURL=style.css.map */