// Page footer
.page-footer {
  padding: px-to-rem(20);
  background: rgba($c-blue, 0.5);
}

.contact-links {
  display: flex;
  justify-content: center;
}

.contact-links li {
  margin: 0 px-to-rem(10);
  line-height: 0;
}

.contact-links a {
  text-decoration: none;
  color: $c-white;
  transition: 0.3s ease opacity;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}
