// Page header
.page-header {  
  @include bp($bp-md) {
    padding: px-to-rem(40) px-to-rem(40) 0;
  }
}

.logo-link {
  display: block;
  width: px-to-rem(129);
  line-height: 0;
}

.logo polygon,
.logo path {
  fill: $c-white;
}
