.social-media {
  @extend %clearfix;
  margin-bottom: 1em;
  font-family: 'icon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;

  li {
    float: left;
    margin-right: .5em;

    &:last-child {
      position: relative;
      top: .175em;
      margin-right: 0;
    }
  }

  a {
    @include fontsize(20);
    display: block;
    text-decoration: none;
  }
}