// Capabilities

.capability {
  position: relative;
  // color: $c-white;

  // &:nth-child(odd) {
  //   background: #454545;
  // }

  // &:nth-child(even) {
  //   background: $c-gray-3;
  // }

  @include bp(md) {
    display: flex;
  }
}

.capability + .capability:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 10%;
  right: 10%;
  height: px-to-rem(10);
  margin-top: px-to-rem(-5);
  background: #ccc;
}

.capability-img {
  padding: px-to-rem(20) px-to-rem(20) 0 px-to-rem(20);
  text-align: center;

  @include bp(md) {
    @include flex-col(30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: px-to-rem(20);

    img {
      width: 100%;
    }
  }

  @include bp(lg) {
    padding-left: calc(10% + 1rem);
    // padding-right: px-to-rem(40);
  }
}

.capability-text {
  padding: px-to-rem(20);

  @include bp(md) {
    @include flex-col(70);
  }

  @include bp(lg) {
    padding-right: calc(10% + 1rem);
    padding-left: px-to-rem(40);
  }
}
