.contact {
  text-align: center;
}

.email-btn {
  width: 100%;
}

.email-btn,
.social-icons {
  @include bp(sm) {
    width: 50%;
    margin: 0 auto;
  }
  @include bp(md) {
    width: calc(33.33% - 13.33px);
  }
}

.social-icons {
  @extend %icon;
  display: flex;
  padding: 0;
  margin-bottom: px-to-rem(20)
}

.social-icons li {
  flex: 0 0 20%;
  width: 20%;
  max-width: 20%;
}

.social-icons a {
  display: block;
  padding: px-to-rem(20) 0;
  border-bottom: none;
  font-size: px-to-rem(24);
  font-weight: $font-weight-normal;
  transition: 0.5s ease all;
}
