// Logo
.site-header {
  padding: px-to-rem(20) 0;
  background: linear-gradient($c-blue-dk, $c-blue-lt);
  color: $c-white;

  @include bp(md) {
    padding: px-to-rem(40) 0;
  }
}

.h1--name,
.h1--title {
  display: block;

  @include bp(sm) {
    display: inline;
  }
}

.h1--name:after {
  @include bp(sm) {
    content: ':';
  }
}
