// Hero

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  margin-bottom: px-to-rem(60);
}

.hero--short {
  height: 75vh;
}

.hero__img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: none;
}

.hero__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: px-to-rem(20);
  transform: translateX(0); // Hack to let the bg z-index behind the item but not the parent
  text-align: center;
  color: $c-white;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--page-accent);
    opacity: 0.75;
    z-index: -1;
  }
}
