// Hero


.hp-hero {
  padding: px-to-rem(20);
  margin: 0 auto;
  max-width: $stage-max;

  @include bp($bp-md) {
    display: grid;
    column-gap: px-to-rem(60);
    grid-template-columns: repeat(3, 1fr);
    padding: px-to-rem(120) px-to-rem(40);
  }
}

.hp-hero h1 {
  @include bp($bp-lg) {
    grid-column: 1 / 4;
  }
}

.hp-hero p {
  @include bp($bp-lg) {
    grid-column: 1 / 3;
  }
}
