// Lightbox

.slick-lightbox .slick-prev {
  left: 0;
  z-index: 2;

  @include breakpoint($bp-sm) {
    left: px-to-rem(10);
  }

  &:before {
    background-image: url('../images/svg/arrow-left.svg');
  }
}

.slick-lightbox .slick-next {
  right: 0;

  @include breakpoint($bp-sm) {
    right: px-to-rem(10);
  }

  &:before {
    background-image: url('../images/svg/arrow.svg');
  }
}

.slick-arrow {
  width: auto;
}

.slick-arrow:before {
  content: '';
  display: block;
  width: px-to-rem(32);
  height: px-to-rem(16);
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s ease all;

  @include breakpoint($bp-sm) {
    width: px-to-rem(48);
    height: px-to-rem(24);
  }
}

.slick-lightbox-close {
  @include breakpoint($bp-sm) {
    height: auto;
    width: auto;

    &:before {
      font-size: px-to-rem(35);
    }
  }
}

.slick-lightbox-slick-caption {
  display: block;

  @include breakpoint($bp-sm) {
    font-size: px-to-rem(20);
  }
}

.slick-slide img {
  border-bottom: solid 3px $c-salmon;
}
