// Link grid

.link-grid {
  max-width: px-to-rem(1080);
  margin-left: auto;
  margin-right: auto;
  padding-left: px-to-rem(20);
  padding-right: px-to-rem(20);

  @include bp($bp-sm) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.link-grid a {
  display: block;
  margin-bottom: px-to-rem(60);
  text-align: center;
  text-decoration: none;
  font-size: px-to-rem(32);
  font-family: $font-serif;
  font-weight: $font-weight-normal;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  @include bp($bp-sm) {
    width: calc(50% - #{$halfspace});
    flex: 0 0 calc(50% - #{$halfspace});
  }
}
