// Media Row - Global properties & modifiers

// Common margins & padding
.media-row {
  margin-bottom: px-to-rem(60);
}

.media-row:not(.mr-fullscreen) {
  padding-left: px-to-rem(20);
  padding-right: px-to-rem(20);
}

// Widths
.mr-narrow,
.mr-medium {
  margin-left: auto;
  margin-right: auto;
}

.mr-medium {
  max-width: px-to-rem(1080);
}

.mr-narrow {
  max-width: px-to-rem(640);
}

// Captions
figcaption {
  position: relative;
  padding: px-to-rem(10) px-to-rem(20) px-to-rem(20);

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: px-to-rem(-15);
    bottom: 0;
    border-top-width: 0;
    border: solid transparent px-to-rem(12);
    border-bottom: solid px-to-rem(15) var(--page-accent);
  }
}

figcaption p {
  margin-bottom: px-to-rem(10);
  font-size: px-to-rem(20);
}

// Labels for captions
.label,
.label-desktop,
.label-mobile {
  font-weight: $font-weight-bold;
}

.label-desktop {
  display: none;

  @include bp($bp-md) {
    display: inline;
  }
}

.label-mobile {
  @include bp($bp-md) {
    display: none;
  }
}
