// Media Row - Various layouts

.media-row figure {
  @include bp($bp-md) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.mr-2-equal img {
  @include bp($bp-md) {
    width: calc(50% - #{$halfspace});
    flex: 0 0 calc(50% - #{$halfspace});
  }
}

.mr-3-equal img {
  @include bp($bp-md) {
    width: calc(33.33% - (#{$gutter} * 2 / 3));
    flex: 0 0 calc(33.33% - (#{$gutter} * 2 / 3));
  }
}

.media-row figcaption {
  @include bp($bp-md) {
    width: 100%;
    flex: 0 0 100%;
  }
}

.media-row img {
  display: block;
  margin-bottom: px-to-rem(20);
}

// Wide tall and tall wide
.mr-wide-tall img:first-child,
.mr-tall-wide img + img {
  @include bp($bp-md) {
    width: calc((100% - #{$gutter}) * 2.2556 / 3.2556);
    flex: 0 0 calc((100% - #{$gutter}) * 2.2556 / 3.2556);
  }
}

.mr-wide-tall img + img,
.mr-tall-wide img:first-child {
  @include bp($bp-md) {
    width: calc((100% - #{$gutter}) / 3.24);
    flex: 0 0 calc((100% - #{$gutter}) / 3.24);
  }
}
