.photo-grid {
  @extend %clearfix;
  line-height: 0;
}

.grid-break {
  clear: left;
  height: px-to-rem(2);
  background: $c-salmon;
  background: linear-gradient(to right, $c-salmon 0%, rgba($c-salmon, 0.7) 100%);

  @include breakpoint($bp-sm) {
    height: px-to-rem(3);
  }

  &:nth-child(14n) {
    background: linear-gradient(to right, rgba($c-salmon, 0.7) 0%, $c-salmon 100%);
  }
}

.thumb-hor,
.thumb-vert {
  float: left;
  position: relative;
  height: 0;
  padding-top: 27.28%;

  @include breakpoint($bp-sm) {
    padding-top: 13.64%;
  }
}

.thumb-hor {
  width: 40.927%;

  @include breakpoint($bp-sm) {
    width: 20.463%;
  }
}

.thumb-vert {
  width: 18.144%;

  @include breakpoint($bp-sm) {
    width: 9.072%;
  }
}

.photo-grid a {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s ease all;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($c-white, 0.25);
    transition: inherit;
  }

  &:hover,
  &:focus {
    transform: scale(1.2);
    box-shadow: 0px 0px px-to-rem(15) 0px rgba($c-black, 0.75);
    z-index: 2;

    &:after {
      background: transparent;
    }
  }
}

.photo-grid img {
  width: 100%;
}
