// Portfolio pieces

.portfolio-outer {
  background: $c-blue;
  color: $c-gray-dk;
}

.pieces {
  padding-top: px-to-rem(30);

  @include bp($bp-md) {
    display: flex;
    justify-content: space-between;
  }
}

.port-piece {
  margin-bottom: px-to-rem(30);

  @include bp($bp-md) {
    flex: 0 0 27%;
    width: 27%;
    max-width: 27%;
    margin-bottom: 0;
  }
}

.port-piece a {
  font-weight: $font-weight-bold;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
