// Portfolio pieces

.portfolio-outer {
  background: $c-blue;
  color: $c-gray-dk;
}

.port-piece {
  margin-top: px-to-rem(30);
  padding-top: px-to-rem(40);
  border-top: solid px-to-rem(2) rgba($c-gray-dk, 0.25);

  @include bp($bp-md) {
    display: flex;
    justify-content: space-between;
    margin-top: px-to-rem(60);
    padding-top: px-to-rem(60);
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.port-img-wrapper {
  margin-bottom: px-to-rem(30);

  @include bp($bp-md) {
    width: 50%;
    margin-bottom: 0;
  }
}

.port-text {
  @include bp($bp-md) {
    width: 45%;
  }
}

.port-text a {
  font-weight: $font-weight-bold;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
