// Portfolio pieces

// <div class="portfolio-outer">
//   <div class="portfolio">
//     <h2>Work</h2>
//     <p>Something something lorem ipsum yada yada yada</p>

//     <section class="port-piece">
//       <img src="images/web-port/glanbia-lg.jpg" alt="Screenshot of Optimum Nutrition homepage" class="port-img">
//       <div class="port-text">
//         <h3>Optimum Nutrition</h3>
//         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero turpis, rutrum efficitur rutrum ac, egestas vel lacus. Ut ac turpis scelerisque, sagittis odio at, elementum turpis. Aenean tristique lectus sed magna luctus tristique. In elit turpis, dapibus et tincidunt in, accumsan non ex. Duis interdum quam a sollicitudin vehicula. Vivamus ac luctus nibh, at sagittis mauris. Curabitur lorem felis, volutpat ut massa sed, bibendum commodo nisl.</p>
//       </div>

//     </section>
//   </div>
// </div>

.portfolio-outer {
  background: $c-blue;
  color: $c-gray-dk;
}

.portfolio {
  padding: px-to-rem(20);
  margin: 0 auto;
  max-width: $stage-max;

  @include bp($bp-md) {
    padding: px-to-rem(60) px-to-rem(40);
  }
}

.port-piece {
  display: flex;
  justify-content: space-between;
  margin-top: px-to-rem(60);
  padding-top: px-to-rem(60);
  border-top: solid px-to-rem(2) rgba($c-gray-dk, 0.25);

  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.port-img-wrapper {
  width: 50%;
}

.port-text {
  width: 45%;
}
