// Hero

.ps-outer {
  background: rgba($c-blue, 0.5);
}

.ps {
  @include bp($bp-md) {
    padding: px-to-rem(30) px-to-rem(40);
  }
}

.ps p {
  margin-bottom: 0;
  font-weight: $font-weight-bold;
  letter-spacing: px-to-rem(0.6);

  @include bp($bp-md) {
    letter-spacing: px-to-rem(1);
  }
}
