// Hero

.what-else-outer {
  background: rgba($c-blue, 0.5);
}

.what-else {
  padding: px-to-rem(20);
  margin: 0 auto;
  max-width: $stage-max;

  @include bp($bp-md) {
    padding: px-to-rem(30) px-to-rem(40);
  }
}

.what-else p {
  margin-bottom: 0;
  font-weight: $font-weight-bold;
  letter-spacing: px-to-rem(0.6);

  @include bp($bp-md) {
    letter-spacing: px-to-rem(1);
  }
}
