// Color variables
$c-black: #000;
$c-gray-dk: #222;
$c-white: #fff;
$c-blue: #369fb9;

// This will (usually) be overridden per page
:root {
  --page-accent: #066;
  --page-logo: #{$c-white};
}

// Font-related variables
$font-serif: 'Crimson Text', serif;
$font-sans: 'Mukta', sans-serif;

$font-main: $font-sans;
$font-size-base: 18; // The default font size for your site. This gets used in
// the px-to-em() function used sitewide.
$font-weight-normal: 400; // The only serif weight
$font-weight-light: 300; // 'Normal' for sans
$font-weight-bold: 700; // Sans only

// Breakpoint variables
$bp-sm: 560px;
$bp-md: 768px;
$bp-lg: 1200px;

// Time out for a function
@function px-to-rem($number) {
  $raw: $number/$font-size-base;
  $rounded: ceil($raw * 1000)/1000;
  @return $rounded * 1rem;
}

// Spacing
$gutter: px-to-rem(20);
$halfspace: (#{$gutter} / 2);
$stage-max: px-to-rem(1200);
