// Color variables
$c-black: #000000; // RGB 0, 0, 0
$c-gray-6: #666666;
$c-gray-3: #333333;
$c-white: #ffffff; // RGB 255, 255, 255

// Font-related variables
$font-copy: 'Open Sans', sans-serif;
$font-display: 'Dosis', sans-serif;


$font-size-base: 20;
$font-weight-normal: 300;
// $font-weight-bold: 700;

// Breakpoints
$breakpoints: (
  sm: 30em, // 480px
  md: 48em, // 768px
  lg: 60em // 960px
);
